templates/dataflow/dataflow.json
{
	"name": "UploadToSalesforce",
	"properties": {
		"activities": [
			{
				"name": "CopyAccountToSF",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT * FROM dbo.Account WHERE ParentAccountId IS NOT NULL",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "SalesforceSink",
						"writeBatchSize": 5000,
						"writeBehavior": "upsert",
						"externalIdFieldName": "BpID__c",
						"ignoreNullValues": false
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": true,
					"redirectIncompatibleRowSettings": {
						"linkedServiceName": {
							"referenceName": "AzureBlobStorageDf",
							"type": "LinkedServiceReference"
						},
						"path": "runlog"
					},
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Name",
									"type": "String"
								},
								"sink": {
									"name": "Name",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ParentAccountId",
									"type": "String"
								},
								"sink": {
									"name": "Parent.BpID__c"
								}
							},
							{
								"source": {
									"name": "Street",
									"type": "String"
								},
								"sink": {
									"name": "BillingStreet",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Phone",
									"type": "String"
								},
								"sink": {
									"name": "Phone",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "SAPId",
									"type": "String"
								},
								"sink": {
									"name": "BpID__c",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSqlAccount",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SalesforceAccount",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "CopyAccountToSF",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "SfAccountRunLogPath",
					"value": {
						"value": "@split(string(activity('CopyAccountToSF').output.redirectRowPath),'/')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Error in Account Upload",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set variable2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('SfAccountRunLogPath'),'')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Copy Account Error to Sql",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@{variables('SfAccountRunLogFolder')}",
											"type": "Expression"
										},
										"wildcardFileName": "*.csv",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"type": "String",
												"ordinal": 5
											},
											"sink": {
												"name": "ObjectId",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 7
											},
											"sink": {
												"name": "Description",
												"type": "String"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "AccountRunlog",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSqlErrorLog",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "SfAccountRunLogFolder",
					"value": {
						"value": "@variables('SfAccountRunLogPath')[sub(length(variables('SfAccountRunLogPath')),2)]\n",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"SfAccountRunLogPath": {
				"type": "Array"
			},
			"SfAccountRunLogFolder": {
				"type": "String"
			}
		},
		"annotations": []
	}
}